.products_container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 10px;
  }

.products_container .product_item {
    position: relative;
    background-color: white; 
    border-radius: 10px;
    border: 1px solid rgb(141, 141, 141 ,0.5);
    overflow: hidden;
  }

  .products_container .product_item .add_to_favorite{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid rgb(141, 141, 141 ,0.5);
    top: 8px;
    right: 8px;
    width: 4em;
    height: 4em; 
  }

  .products_container .product_item .add_to_favorite button{
    border: none;
    width: 100%;
    height: 100%;
  }

  .products_container .product_item .add_to_favorite:hover{
    border: 2px solid rgb(141, 141, 141 ,0.7);
  }

  .products_container .product_item .add_to_favorite i{
    font-size: 25px; 
  }

  .products_container .product_item .item_top{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1/1.1;
    border-bottom: 1px solid rgb(141, 141, 141 ,0.5);
    border-radius: 10px 10px 0px 0px;
    
  }
  
  .products_container .product_item .item_top img {
     transition: transform .7s ease;
     width: 100%;
     height: 100%;
     object-fit: contain; 
     transition: transform .7s ease;
  }
  
  .products_container .product_item:hover .item_top img {
    transform: scale(1.1); 
  }

  .products_container .product_item:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  .products_container .product_item:hover .add_to_favorite{
    display: flex;
  }

  .products_container .product_item .item_bottom{
    padding-left: 10px;
  }

  .products_container .product_item .item_name{
    font-weight: 700;
    margin: 7px 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  .products_container .product_item .item_name a{
    color: black;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
  }

  .products_container .product_item .item_price{
    color: dimgray;
    margin: 7px 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }
  
  .products_container .product_item .item_price ,.products_container .product_item .item_name{
    display: block; 
    font-size: clamp(12px, 1.2vw, 32px);
    height: auto; 
  }


  @media screen and (max-width: 768px) {

    .products_container {
        grid-template-columns: repeat(2,1fr);
    }

    .products_container .product_item .add_to_favorite{
      width: 3.5em;
      height: 3.5em; 
      display: flex;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .products_container {
      grid-template-columns: repeat(3,1fr);
    }
  }
  

  