*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel_container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin: 75px auto 0  auto;
    overflow: hidden;
    border-bottom: 1px solid #bbbbbb;
}

.carousel_slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
    height: 100%;
   
}

.carousel_slide img {
    aspect-ratio: 16/9;
    object-fit: contain;
    height: 100%; 
}


.prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 6px rgb(255, 255, 255);
}

.prevButton {
    left: 14px;
}

.nextButton {
    right: 14px;
}


@media screen and (max-width: 768px) {

    .prevButton, .nextButton {
        height: 35px;
        width: 35px;
    }

}
