*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.account_wrapper{
    max-width: 900px;
    margin: 90px auto 0  auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.2);
}


.account_name{
    font-size: 20px;
    font-weight: bold;
}

.account_password , .account_addresses{
    width: 100%;
}

.account_password button#password , .account_addresses button#address{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 700;
}


.password_input , .address_input{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
    
}

.all_addresses{
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 8px;
}


.all_addresses li{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.all_addresses form{
    display: inline;
}

.all_addresses form button{
    background-color: black;
    color: white;
    height: 30px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
}

.password_input form ,.address_input form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.password_input button ,.address_input button{
    width: 50%;
}

.password_input form input,.address_input form input {
    width: 50%;
    height: 40px;
    padding-left: 20px; 
    border-radius: 50px;
    border: 1px solid #ccc;
}

.password_input button ,.address_input button{
    width: 50%;
    height: 40px;
    padding-left: 0; 
    border-radius: 50px;
    border: 1px solid black;
}

.password_input form input[type="submit"],.address_input form input[type="submit"]{
    background-color: black;
    padding-left: 0; 
    color: white;
}

@media screen and (max-width: 768px) {
    .account_wrapper{
        margin: 90px 20px 0 20px;
    }

}
